<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ProductServiceLibrary.ProductService">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttpBindingConfiguration"
                  name="ProductService_wshttp"
                  contract ="ProductServiceLibrary.IProducts">
          <identity>
            <dns value="localhost"/>
          </identity>   
        </endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Address/ProductServiceLibrary/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        
      </serviceBehaviors>
      
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding transactionFlow="true" name="wsHttpBindingConfiguration">
          
        </binding>
      </wsHttpBinding>
      
    </bindings>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
      

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
